@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');



/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";  
}

body{
  background: #EEE4DA;

}

  
.content {
  max-width: 600px;
  margin: 40px 140px;
  padding: 20px;
}
.blog-preview {
  padding: 10px 16px;
  background-color: #8AE5D6;
  margin: 20px 0;
  border-bottom: 1px solid #8AE5D6;
  border-radius: 10px;
  text-transform: capitalize;
}
.blog-preview:hover {
  box-shadow: 1px 5px 20px rgb(138, 229, 214, 1);
  font-weight: 700;
}
.blog-preview h2 {
  font-size:  20px;
  color: #000;
  margin-bottom: 8px; 
}
.blog-preview a{
  text-decoration: none;
}
.blog-details h2 {
  font-size: 30px;
  font-weight: 700;
  color: #8AE5D6;
  margin-bottom: 10px;
}
.blog-details p{
  font-style: italic;
}
.blog-details div {
  margin: 20px 0;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #000;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create textarea {
  min-height: 200px;
}
.create button {
  background: #8AE5D6;
  color: #000;
  letter-spacing: 2px;
  font-weight: 500;
  border: 1px solid #000;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  float: left;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 15px;
}
.create button:hover{
  color: #000;
  font-weight: 700;
  box-shadow: 1px 2px  3px #8AE5D6
}

.page-title {
  text-transform: uppercase;
}

.btn-add {
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-weight: 700;
  background-color:#8AE5D6;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-del {
  color: red;
  width: 100px;
  height: 40px;
  background-color: #fff;
  border-color: red;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
  border-radius: 5px;
}

.create input{
  height: 40px;
}
